{#
 # Tease: Document
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
{% set posts = posts | default( document.posts( { post_type: 'document', posts_per_page: -1 } ) ) %}

{%- if posts.found_posts -%}
	<div class="js-accordion-panel" data-accordion-open="false" data-accordion-deselect="true">
		<button
			class="js-accordion-header lg:text-2xl font-medium border border-gray-very-dark p-4 lg:px-9 flex w-full justify-between items-center"
			type="button"
			aria-expanded="false"
			aria-controls="{{ slug ~ '-' ~ document.slug }}"
			id="{{ slug ~ '-' ~ document.slug }}-header"
		>
			{{- document.name -}}
			{{- icon(
					'chevron-right',
					{
						classes: [
							'w-5 h-3', 'parent-is-expanded:rotate-90 transition-transform duration-800 ease-in-out'
						]
					}
				)
			-}}
		</button>

		<div id="{{ slug ~ '-' ~ document.slug }}" class="lg:text-2xl" role="region">
			<div class="js-accordion-inner mx-6 lg:mx-10 pt-6">
				<div class="border-l border-gray-very-dark space-y-4 lg:space-y-0">
					{% for post in posts %}
						{{- include( 'components/tease-document-child.html.twig', { post: post } ) -}}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}
