{#
 # Tease: Offer
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<article
	class="lg:text-2xl relative group"
	 style="
		{{ active ? '' : 'color: #BABABA;' }}
	"
>

	{%- if active -%}
		<a href="{{ offer.link }}" class="absolute inset-0 w-full h-full z-2" aria-label="{{ post.title }}"></a>
	{%- else -%}
		<button
			type="button"
			class="absolute inset-0 w-full h-full z-2"
			data-module-dialog-button
			data-dialog-button-id="offer-unavailable"
			aria-label="{{ __( 'En savoir plus...', 'weblexpro-dashboard' ) }}"
		></button>
	{%- endif -%}

	<header class="text-white mr-8 -mb-24 relative z-1">
		<div
			class="relative z-2 w-full p-4 lg:px-11 min-h-[7rem]"
			style="background-color: {{ active ? post.meta( 'color' ) | default( '#BABABA' ) : '#BABABA' }}">
			<h3 class="lg:text-[2.5rem] lg:leading-[3rem]">{{- post.meta( 'catchphrase' ) -}}</h3>
			<p class="">{{- post.title -}}</p>
		</div>

		<div
			class="absolute left-full top-0 z-1 origin-bottom-left"
			style="
				border-bottom : 7rem solid transparent;
 				border-left : 2rem solid  {{ active ? post.meta( 'color' ) | default( '#BABABA' ) : '#BABABA' }};
			"
		></div>
	</header>

	<div
		class="border-[3px] ml-4 pt-33.5 relative z-1"
		style="border-color: {{ active ? post.meta( 'color' ) | default( '#BABABA' ) : '#BABABA' }};"
	>
		<p class="px-7">{{- post.meta( 'description' ) -}}</p>
		<footer class="mt-1 text-right">
			{%- if active -%}
				<div class="py-3 px-10 inline-block" style="background-color: {{ post.meta( 'color' ) | default( '#BABABA' ) }};">
					<span class="w-6 h-6 border-white border rounded-full flex items-center justify-center">
						{{- icon( 'chevron-right', { classes: [ 'w-2 h-3 fill-white' ] } ) -}}
					</span>
				</div>
			{%- else -%}
				<div
					class="text-xl bg-gray text-white py-3 px-4 group-hover:underline inline-block"
				>
					{{- __( 'En savoir plus...', 'weblexpro-dashboard' ) -}}
				</div>
			{%- endif -%}
		</footer>
	</div>
</article>
