{#
 # Header
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<header class="py-8">
	<div class="container">
		<div class="row">
			<div class="lg:col-6/12">
				<a class="inline-block align-middle" href="{{ site.link }}" aria-label="{{ site.description }}">
					<img class="block w-auto h-11" src="{{ asset( 'img/svg/logo.svg' ) }}" alt="{{ site.description }}">
				</a>
			</div>
			<div class="text-right lg:col-6/12">
				{% if not user %}
					<a class="button bg-red-light" href="{{ front_url | e( 'esc_url' ) }}">
						{{- __( 'Log in', 'weblexprodashboard' ) -}}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</header>
