{#
 # Index
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<!DOCTYPE html>
<html
    itemscope
    itemtype="http://schema.org/WebPage"
    {{ html_class( 'no-js no-touch is-loading is-first-time-loaded' ) }}
    {{ site.language_attributes }}
>

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="https://use.typekit.net/waj2avu.css">

		{{ function( 'wp_head' ) }}

	</head>

	<body {{ body_class() }}>


		{% block header %}
			{{- include( 'header.html.twig', { classes: [] } ) -}}
		{% endblock %}

		<div class="flex relative z-2">
			<aside class="bg-blue-dark text-white px-4 min-w-98.5">
				{{- include( 'components/socials.html.twig' ) -}}
			</aside>
			<main class="my-17.5 space-y-26.25 pl-21 w-full">
				{% block content %}
					<div class="container">
						<div class="row">
							<div>
								<p class="mb-4 text-xs">
									<a class="hover:underline" href="{{ dashboard_url | e( 'esc_url' ) }}">
										{{- __( 'Home', 'weblexprodashboard' ) -}}
									</a>
									{%- if ancestors -%}
										{{- '&nbsp;&sol;&nbsp;' -}}
										{{- ancestors | map( a => "<a class=\"hover:underline\" href=\"#{ a.link }\">#{ a.name }</a>" ) | join( ' / ' ) -}}
									{%- endif -%}
								</p>
								<h1 class="text-4xl font-bold font-title text-gray-very-dark">{{- term.name -}}</h1>
								{%- if term.description %}
									<p class="mt-4 text-xl font-light">{{- term.description -}}</p>
								{%- endif -%}
							</div>
						</div>
					</div>

					{%- if post.content -%}
						<div class="container">
							<div class="row">
								<div>
									{{- post.content -}}
								</div>
							</div>
						</div>
					{%- endif -%}
				{% endblock %}
			</main>
		</div>

		{% block footer %}
			{{- include( 'footer.html.twig' ) -}}
		{% endblock %}

		{{ function( 'wp_footer' ) }}

		<div id="svg-sprite" style="display: none;">{{- include( 'icons.svg', ignore_missing = true ) -}}</div>

	</body>

</html>
