{#
 # Archive: Document
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #}

{% extends 'index.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div>
				<p>
					<a class="hover:underline" href="{{ dashboard_url | e( 'esc_url' ) }}">
						{{- __( 'Home', 'weblexpro-dashboard' ) -}}
					</a>

					{%- for item in nav_menus.main.get_items() -%}

						{%- if item.current or item.current_item_ancestor or item.current_item_parent -%}
							&nbsp;&sol;&nbsp;<a class="hover:underline" href="{{ item.link }}">{{ item.title }}</a>
						{%- endif -%}

						{%- if ( item.current or item.current_item_ancestor or item.current_item_parent ) and item.children -%}

							{%- for child in item.children -%}
								{%- if ( child.current or child.current_child_ancestor or child.current_item_parent ) -%}
									&nbsp;&sol;&nbsp;{{- child.title -}}
								{%- endif -%}
							{%- endfor -%}

						{%- endif -%}
					{% endfor %}
				</p>

			</div>
		</div>
	</div>

	{%- if 'dossiers-veille-juridique' == term.slug or 'dossiers-de-veille-juridique' == term.slug -%}
		<div class="container">
			<div class="row">
				<div>
					<div class="flex flex-wrap gap-x-32 gap-y-16 justify-center">
						{% for post in posts %}
							<a
								href="{{ post.link }}"
								class="min-h-[16rem] relative text-white text-center justify-center w-64 max-w-full flex items-center lg:text-2xl py-8 px-5 bg-red-light"
							>
								{{- post.title -}}
								<div class="pointer-events-none absolute w-full h-full mb-4 ml-4 bottom-0 left-0 rotate-1 border-2 border-red-light"></div>
							</a>
						{%- endfor -%}
					</div>
				</div>
			</div>
	{%- endif -%}

	{%- if 'webinaires' == term.slug or 'dossiers-thematiques' == term.slug -%}
		<div class="container text-blue-dark">
			<div class="row space-y-6">
				{% for child in term.children( { orderby: 'term_order' } ) %}

					{% if child.children() %}
						<div>
							<h2 class="font-medium lg:text-3xl">{{- child.name -}}</h2>
							<hr class="block border-none bg-blue-dark h-px w-full mt-4">
						</div>

						<div class="mt-6">
							<div class="pl-7 lg:pl-10 space-y-6" data-module-accordion>
								{% for grandchild in child.children() %}
									{{- include( 'components/tease-document.html.twig', { slug: term.slug, document: grandchild, user: user } ) -}}
								{% endfor %}
							</div>
						</div>
					{%- elseif child.posts( { post_type: 'document' } ).found_posts -%}
						<div data-module-accordion>
							{{- include( 'components/tease-document.html.twig', { slug: term.slug, document: child, user: user } ) -}}
						</div>
					{%- endif -%}
				{%- endfor -%}
			</div>
		</div>
	{%- endif -%}


	{% if 'podcasts' == term.slug or 'lois-de-finances' == term.slug %}
		<div class="container text-blue-dark">
			<div class="row">
				<div class="space-y-6" data-module-accordion>
					{%- for child in term.children( { orderby: 'term_order' } ) -%}
						{{-
							include(
								'components/tease-document.html.twig',
								{
									slug: term.slug,
									document: child,
									user: user
								}
							)
						-}}
					{%- endfor -%}
				</div>
			</div>
		</div>
	{%- endif -%}
{% endblock %}
