{#
 # Archive Document
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #}

{% extends 'index.html.twig' %}

{% block content %}

	<div class="container mt-20 mb-9 first:mt-0 last:mb-0">
		<div class="row">
			<div>
				<p class="mb-4 text-xs">
					<a class="hover:underline" href="{{ dashboard_url | e( 'esc_url' ) }}">
						{{- __( 'Dashboard', 'weblexprodashboard' ) -}}
					</a>
					{%- if ancestors -%}
						{{- '&nbsp;&sol;&nbsp;' -}}
						{{- ancestors | map( a => "<a class=\"hover:underline\" href=\"#{ a.link }\">#{ a.name }</a>" ) | join( ' / ' ) -}}
					{%- endif -%}
				</p>
				<h1 class="text-4xl font-bold font-title text-gray-very-dark">{{- term.name -}}</h1>
				{%- if term.description %}
					<p class="mt-4 text-xl font-light">{{- term.description -}}</p>
				{%- endif -%}
			</div>
		</div>
	</div>

	<div class="container my-9 first:mt-0 last:mb-0"><div><hr></div></div></div>

	<div class="container mb-4 mt-9 first:mt-0 last:mb-0">
		<div class="row">
			<div class="mb-8 lg:col-3/12 lg:mb-0">
				<div class="p-5 border rounded lg:h-full border-black/20">
					<ul>
						<li class="my-2 first:mt-0 last:mb-0">
							<a class="text-xs text-red-light hover:underline" href="{{ dashboard_url | e( 'esc_url' ) }}">
								{{- __( 'Dashboard', 'weblexprodashboard' ) -}}
							</a>
						</li>
						{% if ancestors %}
							{% for ancestor in ancestors %}
								<li class="my-2 first:mt-0 last:mb-0">
									<a class="text-xs text-red-light hover:underline" href="{{ ancestor.link }}">
										{{- ancestor.name -}}
									</a>
								</li>
							{% endfor %}
						{% endif %}
						<li class="my-2 first:mt-0 last:mb-0">
							<a class="text-xs text-red-light hover:underline" href="{{ wp_logout_url( front_url ) | e( 'esc_url' ) }}">
								{{- __( 'Log out', 'weblexprodashboard' ) -}}
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="lg:col-9/12">
				<div class="-my-4 row">
					{% for document_category in children %}
						<div class="my-4 lg:col-6/12">
							<a class="block h-full overflow-hidden border rounded border-black/20 group" href="{{ document_category.link }}">
								<div class="w-full h-64 bg-black/20">
									{{- include( 'components/image.html.twig', { size: 'large', classes: [ 'h-full', 'w-full', 'block', 'object-cover', 'object-center' ], image: document_category.meta( 'thumbnail' ) } ) -}}
								</div>
								<div class="p-5 text-blue-bright group-hover:underline group-hover:text-red-light">
									{{- document_category.name -}}
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-4 mb-20 first:mt-0 last:mb-0">
		<div class="-my-4 row">
			{% for document in term.posts( { post_type: 'document', tax_query: [ { taxonomy: 'document_category', terms: term.term_id, field: 'term_id', include_children: false } ] } ) %}

				<div class="my-4 lg:col-6/12">
					<a
						class="block h-full overflow-hidden border rounded border-black/20 group"
						href="{{ term.meta( 'redirect' ) and document.meta( 'documents' )[0].file.url ? document.meta( 'documents' )[0].file.url : document.link }}"
						{{ term.meta( 'redirect' ) and document.meta( 'documents' )[0].file.url ? 'download="' ~ document.meta( 'documents' )[0].file.title ~ '"' }}
					>
						<div class="w-full h-64 bg-black/20">
							{{- include( 'components/image.html.twig', { size: 'large', classes: [ 'h-full', 'w-full', 'block', 'object-cover', 'object-center' ], image: document.thumbnail } ) -}}
						</div>
						<div class="p-5 text-blue-bright group-hover:underline group-hover:text-red-light">
							{{ document.title }}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
