{#
 # Page: Likes
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #}

{% extends 'index.html.twig' %}

{% block content %}
	{{ parent() }}

	{%- if user.meta( 'likes' ) -%}
		<div class="container lg:text-3xl">
			<div class="row">
				<div>
					<div class="border-l border-gray-very-dark space-y-4 lg:space-y-0">
						{%- for post in get_posts( { post_status: [ 'inherit', 'publish' ], post_type: [ 'document', 'attachment' ], posts_per_page: -1, orderby: 'post__in', post__in: user.meta( 'likes' ) | reverse } ) -%}
							{%- if 'attachment' == post.post_type -%}
								{% if post.id in user.meta( 'documents' ).practical_sheets | map(  d => d.file.id ) %}
									{% for document in user.meta( 'documents' ).practical_sheets %}
										{% if post.id == document.file.id %}
											{{- include( 'components/tease-attachment.html.twig', { post: {
												title: document.title  | default( post.title ),
												guid: post.guid
											} } ) -}}
										{% endif %}
									{% endfor %}
								{%- else -%}
									{{- include( 'components/tease-attachment.html.twig', { post: post } ) -}}
								{%- endif -%}
							{%- else -%}
								{{- include( 'components/tease-document-child.html.twig', { post: post } ) -}}
							{%- endif -%}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{%- else -%}
		<div class="container lg:text-2xl text-blue-dark font-bold">
			<div class="row">
				<div>
					{{- __( 'No likes to display yet.', 'weblexpro-dashboard' ) -}}
				</div>
			</div>
		</div>
	{%- endif -%}
{% endblock %}
