{#
 # Single Document
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #}

{% extends 'index.html.twig' %}

{% block content %}

	<div class="container">
		<div class="row">
			<div>
				<p>
					<a class="hover:underline" href="{{ dashboard_url | e( 'esc_url' ) }}">
						{{- __( 'Home', 'weblexpro-dashboard' ) -}}
					</a>

					{%- if post.terms() -%}

						{% set ancestors = get_terms( fn( 'get_ancestors', post.terms()[0].id, '', 'taxonomy' ) ) | reverse %}

						{% set offer = get_posts( {
								post_type: 'offer',
								meta_key: 'type',
								meta_value: ancestors[0].meta('type')
						} ) %}

						{{- '&nbsp;&sol;&nbsp;' -}}
						<a class="hover:underline" href="{{ offer[0].link }}">{{ offer[0].meta( 'catchphrase' ) }}</a>

						{{- '&nbsp;&sol;&nbsp;' -}}
						<a class="hover:underline" href="{{ ancestors[0].link }}">{{ ancestors[0].name }}</a>

						{% for term in post.terms() | reverse %}
							{%- if term.term_id != ancestors[0].term_id -%}
								{{- '&nbsp;&sol;&nbsp;' -}}
								<span>{{- term.name -}}</span>
							{%- endif -%}
						{% endfor %}
					{%- endif -%}

				</p>

			</div>
		</div>
	</div>

	<div class="container mb-4 mt-9">
		<div class="row">

			{%- if post.content -%}
				<div class="{{ html_classes( post.meta( 'documents' ) ? 'col-4/12' : '', 'wysiwyg text-xl text-blue-dark' ) }}">
					{{- post.content -}}
				</div>
			{%- endif -%}

			<div class="{{ html_classes( post.content ? 'col-8/12' : '' ) }}">

				<h2 class="text-4xl font-medium font-title text-gray-very-dark">{{- post.title -}}</h2>

				{% if post.meta( 'documents' ) %}

					<h3 class="text-2xl text-red-light mt-4">
						{{- _n( 'Attached File', 'Attached Files', post.meta( 'documents' ) | length, 'weblexpro-dashboard' ) -}}
					</h3>

					<div class="space-y-4 mt-4">
						{% for document in post.meta( 'documents' ) %}
							<div>

								{% if 'audio' == document.file.type and document.file %}
									<div class="flex items-center p-5 border rounded border-black/20">
										<audio class="w-full" controls src="{{ document.file.url }}">
											{{- __( "Sorry, your browser doesn't support the audio element.", 'weblexpro-dashboard' ) -}}
										</audio>
									</div>
								{% elseif 'video' == document.file.type and document.file %}
									<div class="p-5 border rounded border-black/20">
										<div class="relative pb-[56.25%] h-auto max-w-full overflow-hidden">
											<video controls class="absolute inset-0 w-full h-full">
												<source src="{{ document.file.url }}" type="{{ mime_type }}">
												{{ __( "Sorry, your browser doesn't support embedded videos.", 'weblexpro-dashboard' ) -}}
											</video>
										</div>
									</div>
								{% elseif document.file %}
									<a download class="flex items-center p-5 border rounded group border-black/20" href="{{ document.file.url }}">
										<span class="mr-4 group-hover:underline">{{- document.title -}}</span>

										<p class="ml-auto button group-hover:bg-red-light group-hover:shadow-lg" type="button">{{- __( 'Download', 'weblexpro-dashboard' ) -}}</p>
									</a>
								{% endif %}

								<div class="flex gap-x-2.5 items-center mt-4">
									<a download href="{{ document.file.url }}" class="bg-red-light text-white text-3xl items-center flex gap-x-2 p-2">
										{{- __( 'Download', 'weblexpro-dashboard' ) -}}
										<span class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
											{{- icon( 'download', { classes: [ 'w-4 h-4 fill-red-light' ] } ) -}}
										</span>
									</a>
									{{- include( 'components/button-like.html.twig', { user: user, id: document.file.id } ) -}}
								</div>

							</div>
						{% endfor %}
					</div>
				{% endif %}

			</div>
		</div>
	</div>

{% endblock %}
