{#
 # Single: Offer
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #}

{% extends 'index.html.twig' %}

{% block content %}
	{{ parent() }}

	{% if 'event' == post.meta( 'type' ) %}
		<div class="container">
			<div class="row">
				<div>
					<div class="flex flex-wrap gap-x-32 gap-y-16 justify-center">
						{% for category in post.meta( 'documents' ) %}
							{% set category = get_term( category ) %}

							<a href="{{ category.link }}" class="relative min-h-[17.1875rem] text-white justify-center text-center w-[17.1875rem] flex items-end lg:text-5xl py-8 px-5"
								style="background-color: {{ post.meta( 'color' ) }};">

								<div class="h-full flex flex-col">
									<h2 class="my-auto">{{ category.name }}</h2>

									{{- include( 'components/image.html.twig', { image: category.meta( 'image' ), classes: [ 'mt-8 mx-auto w-38 h-20 object-contain' ] } ) -}}
								</div>

								<div class="absolute w-full h-full mb-4 ml-4 bottom-0 left-0 rotate-1 border-2" style="border-color:  {{ post.meta( 'color' ) }};"></div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if 'eagle' == post.meta( 'type' ) %}
		<div class="container">
			<div class="row">
				<div>
					<div class="flex flex-wrap gap-x-32 gap-y-16 justify-center">
						{% for item in post.meta( 'links' ) %}
							<a
								href="{{ item.link.url }}"
								class="relative text-white text-center w-[17.1875rem] block lg:text-5xl py-8 px-5 bg-blue-dark"
								{{ item.target ? 'target="_blank" rel="noopener noreferer"' }}
							>
								{{ item.link.title }}

								<div class="absolute w-full h-full mb-4 ml-4 bottom-0 left-0 rotate-1 border-2 border-blue-dark"></div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{%- if 'mag' == post.meta( 'type' ) and user.meta( 'mag_url' ) -%}
		<div class="container">
			<div class="row">
				<div>
					<div class="relative overflow-hidden w-full pt-[56.25%]">
						<iframe class="absolute inset-0 w-full h-full" src="{{ user.meta( 'mag_url' ) }}"></iframe>
					</div>
				</div>
			</div>
		</div>
	{%- endif -%}
{% endblock %}
